Repository awantika10/Desgen, pull requests merged in 2021-04, with the labels that each got.

#115 Desgen Website UI design
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 1.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 2.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 3.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 4.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 5.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 7.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 8.png
  Designs/Website/Vaibhav_Glassmorphism/Web 1920 – 9.png
  Designs/Website/Vaibhav_Glassmorphism/website_ui.html
Labels: Contest, Level1, designing, gssoc21

#119 Sowmiya_V/Website_UI.html
  Designs/Website/Sowmiya_V/Desgen website/Contact and footer.png
  Designs/Website/Sowmiya_V/Desgen website/Entire work.png
  Designs/Website/Sowmiya_V/Desgen website/Entry page.png
  Designs/Website/Sowmiya_V/Desgen website/Landing page.png
  Designs/Website/Sowmiya_V/Desgen website/Logo 1 (v+B).png
  Designs/Website/Sowmiya_V/Desgen website/Logo 3 (VIBGYOR).png
  Designs/Website/Sowmiya_V/Desgen website/Profile.png
  Designs/Website/Sowmiya_V/Desgen website/Sign up and login.png
  Designs/Website/Sowmiya_V/Desgen website/Website look.png
  Designs/Website/Sowmiya_V/Desgen website/Works.png
  Designs/Website/Sowmiya_V/Website_UI.html
Labels: Contest, Level3, Website, designing, gssoc21

#121 Added website ui
  Designs/Website/Kunal_M/contact.png
  Designs/Website/Kunal_M/home.png
  Designs/Website/Kunal_M/website_ui.html
Labels: Level1, gssoc21

#120 Website design
  .github/pull_request_template.md
  D_web_0001.jpg
  D_web_0002.jpg
  D_web_0003.jpg
  D_web_0004.jpg
  D_web_0005.jpg
  D_web_0006.jpg
  logo_used_0007.png
  website_desgen.html
Labels: Level1, gssoc21

#125 Cp Ui part -2
  Designs/Competetive_programming/10 - hackathons.PNG
  Designs/Competetive_programming/11 - calender.PNG
  Designs/Competetive_programming/12- calender model.PNG
  Designs/Competetive_programming/13 - profile page.PNG
  Designs/Competetive_programming/14 - edit profile.PNG
  Designs/Competetive_programming/15 - skills page.PNG
  Designs/Competetive_programming/16 - interview.PNG
  Designs/Competetive_programming/17 - blogs.PNG
  Designs/Competetive_programming/18 - settings.PNG
Labels: Level2, designing, gssoc21

#128 Documentation updated
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  Contribution/CONTRIBUTING.md
  README.md
Labels: Level0, documentation, gssoc21

#132 Sowmiya V_logo submision
  Designs/Desgen_Logo/Sowmiya V_Logo_1.png
  Designs/Desgen_Logo/Sowmiya V_Logo_2.png
Labels: Level2, designing, gssoc21

#133 Aman_logo submission
  Designs/Desgen_Logo/AmanKumarChoudhary_Logo1.png
  Designs/Desgen_Logo/AmanKumarChoudhary_Logo2.png
Labels: Level2, designing, gssoc21

#141 Added Designs for Emergency Traffic Clear App
  Designs/Emergency App Design/Add Emergency.png
  Designs/Emergency App Design/Contact Us.png
  Designs/Emergency App Design/Design Emergency Traffic App.xd
  Designs/Emergency App Design/Emergency Message.png
  Designs/Emergency App Design/Emergency_Traffic.html.txt
  Designs/Emergency App Design/Home Screen – 1.png
  Designs/Emergency App Design/Notification.png
  Designs/Emergency App Design/Profile.png
  Designs/Emergency App Design/Report Bug.png
  Designs/Emergency App Design/Share Location.png
  Designs/Emergency App Design/Sign In Screen.png
  Designs/Emergency App Design/Sign Up Screen.png
  Designs/Emergency App Design/Splash Screen.png
  Designs/Emergency App Design/Travel Path Selection.png
  Designs/Emergency App Design/Travel.png
  Designs/Emergency App Design/Wireframe.png
  Designs/Emergency App Design/Write Message.png
Labels: Level2, designing, gssoc21

#138 Ui of the startup solution application part1
  Designs/Startup_UI/Uiimages/company_signup.png
  Designs/Startup_UI/Uiimages/homepage.png
  Designs/Startup_UI/Uiimages/loading.png
  Designs/Startup_UI/Uiimages/login.png
  Designs/Startup_UI/Uiimages/register.png
  Designs/Startup_UI/Uiimages/settings.png
  Designs/Startup_UI/Uiimages/signup.png
  Designs/Startup_UI/startup_ui.html
Labels: Level2, designing, gssoc21

#143 Added UI for pet adoption app part-1
  Designs/Pet Adoption App/Add Pet.png
  Designs/Pet Adoption App/Adopted Pets.png
  Designs/Pet Adoption App/Adoption Stories.png
  Designs/Pet Adoption App/Filter Sreen.png
  Designs/Pet Adoption App/Left Swipe Screen.png
  Designs/Pet Adoption App/Pet_Adoption_App.html
  Designs/Pet Adoption App/User Profile.png
Labels: Level2, gssoc21

#147 UI for Pet Adoption App Part-2
  Designs/Pet Adoption App/Explore screen( 04 ).png
  Designs/Pet Adoption App/Pet_Adoption_App.html
  Designs/Pet Adoption App/chat screen( 06 ).png
  Designs/Pet Adoption App/home screen ( 01 ).png
  Designs/Pet Adoption App/login screen( 02 ).png
  Designs/Pet Adoption App/pet profile ( 05 ).png
  Designs/Pet Adoption App/sign up screen( 03 ).png
Labels: Level2, designing, gssoc21

#149 Fixes #60 updated as requested
  Designs/Startup_UI/Uiimages/collaborate_.png
  Designs/Startup_UI/Uiimages/company_profile.png
  Designs/Startup_UI/Uiimages/mentor_guidance_cell.png
  Designs/Startup_UI/Uiimages/messenger.png
  Designs/Startup_UI/Uiimages/my_profile.png
  Designs/Startup_UI/Uiimages/profile_search.png
  Designs/Startup_UI/startup_ui.html
Labels: Level2, designing, gssoc21
