Repository awantika10/Desgen, pull requests merged in 2021-03, with the labels that each got.

#14 Added contributors list and guidelines for contribution
  README.md
Labels: documentation, gssoc21

#25 Adding Idea 2
  Ideas.md
Labels: Level0, gssoc21

#34 Ideas for Cryptocurrency app
  Ideas.md
Labels: Level0, gssoc21

#52 3-D animation and illustration idea
  Designs/Chirag Agrawal/3-D animation and illustration ideas/icnos medicine.jpg
Labels: Level3, gssoc21

#83 Added idea 17
  Ideas.md
Labels: Level0, gssoc21

#109 Added UI for Cryptocurrency app
  Designs/Cryptocurrency_UI/Cryptocurrency_UI.html
  Designs/Cryptocurrency_UI/interface_ui.png
  Designs/Cryptocurrency_UI/login_signup_ui.png
  Designs/Cryptocurrency_UI/news_ui.png
Labels: Level2, gssoc21

#111 Website UI Submission
  Designs/Website/jhasuraj/common/collaborators.png
  Designs/Website/jhasuraj/common/open-source.jpg
  Designs/Website/jhasuraj/desktop-ss/about.jpg
  Designs/Website/jhasuraj/desktop-ss/desktop-home-design-open.jpg
  Designs/Website/jhasuraj/desktop-ss/desktop-home-full-scrolled.jpg
  Designs/Website/jhasuraj/desktop-ss/desktop-home-half-scrolled.jpg
  Designs/Website/jhasuraj/desktop-ss/desktop-home-normal.jpg
  Designs/Website/jhasuraj/mobile-ss/about.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-home-design-open.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-home-full-scrolled.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-home-half-scrolled.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-home-normal.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-home-touching-header.jpg
  Designs/Website/jhasuraj/mobile-ss/mobile-sidenav.jpg
  Designs/Website/jhasuraj/videos/Card opening and closing(Mobile).mp4
  Designs/Website/jhasuraj/videos/Card opening and closing.mkv
  Designs/Website/jhasuraj/videos/Desgen home (Mobile).mp4
  Designs/Website/jhasuraj/videos/Desgen home.mp4
  Designs/Website/jhasuraj/website.html
Labels: Level3, gssoc21
