Repository awantika10/Desgen, pull requests merged in 2021-05, with the labels that each got.

#153 Designs for Emergengy Traffic Clear App
  Designs/Emergengy Traffic Clear App/AlertNotification.png
  Designs/Emergengy Traffic Clear App/Ambulance.png
  Designs/Emergengy Traffic Clear App/AppIntro-1.png
  Designs/Emergengy Traffic Clear App/AppIntro-2.png
  Designs/Emergengy Traffic Clear App/AppIntro-3.png
  Designs/Emergengy Traffic Clear App/BugReport.png
  Designs/Emergengy Traffic Clear App/EmergengyTrafficClearApp.html
  Designs/Emergengy Traffic Clear App/ExploreHere.png
  Designs/Emergengy Traffic Clear App/Hamburger Menu.png
  Designs/Emergengy Traffic Clear App/MapShowingNearbyHospitals.png
  Designs/Emergengy Traffic Clear App/Message.png
  Designs/Emergengy Traffic Clear App/MonthlyCases.png
  Designs/Emergengy Traffic Clear App/Profile.png
  Designs/Emergengy Traffic Clear App/SendAlert.png
  Designs/Emergengy Traffic Clear App/SignUp.png
  Designs/Emergengy Traffic Clear App/WelcomeScreen.png
  Designs/Emergengy Traffic Clear App/logIn.png
Labels: Level2, designing, gssoc21

#154 Update README.md
  README.md
Labels: Level0, gssoc21

#155 Design of the community application(idea-15)
  Designs/Community_ui/CommunityUi.html
  Designs/Community_ui/Home.png
  Designs/Community_ui/Leaderboard.png
  Designs/Community_ui/Notification.png
  Designs/Community_ui/calendar.png
  Designs/Community_ui/collection.png
  Designs/Community_ui/community.png
  Designs/Community_ui/community_ui.html
  Designs/Community_ui/login.png
  Designs/Community_ui/messaging.png
  Designs/Community_ui/profile.png
  Designs/Community_ui/settings.png
  Designs/Community_ui/startpage.png
  Designs/Startup_UI/startup_ui.html
Labels: Level2, gssoc21

#164 #129 casestudy2 part1
  Designs/Casestudy2_designs/About Us.png
  Designs/Casestudy2_designs/Help section.png
  Designs/Casestudy2_designs/homepage1.png
  Designs/Casestudy2_designs/homepage2.png
  Designs/Casestudy2_designs/job post.png
  Designs/Casestudy2_designs/log in.png
  Designs/Casestudy2_designs/sign up.png
Labels: Level3, gssoc21

#165 CaseStudy2_Designs-Part2
  Designs/Casestudy2-designs/.gitkeep
  Designs/Casestudy2-designs/Forum(1).png
  Designs/Casestudy2-designs/Forum(2).png
  Designs/Casestudy2-designs/Forum(3).png
  Designs/Casestudy2-designs/Free-Lancing.png
  Designs/Casestudy2-designs/LearnIt(1).png
  Designs/Casestudy2-designs/LearnIt(2).png
  Designs/Casestudy2-designs/LearnIt(3).png
Labels: Level3, gssoc21

#167 Case study 3
  case study/case study-3/Events.PNG
  case study/case study-3/Feed.PNG
  case study/case study-3/Home.PNG
  case study/case study-3/My account.PNG
  case study/case study-3/Payment confirmation.PNG
  case study/case study-3/Payment.PNG
  case study/case study-3/Sign in.PNG
  case study/case study-3/Sign up.PNG
  case study/case study-3/Store.PNG
  case study/case study-3/Weekly trends.PNG
Labels: Level3, gssoc21

#168 CaseStudy3
  case study/Case study-3/DesgenCaseStudy3.md
  case study/Case study-3/Icons.png
  case study/Case study-3/InspirationBoard.png
  case study/Case study-3/Typography.png
  case study/Case study-3/USER Flowchart.png
  case study/Case study-3/Wireframe3.png
  case study/Case study-3/Wireframe4.png
  case study/Case study-3/colorPalatte.png
  case study/Case study-3/wireframe1.png
  case study/Case study-3/wireframe2.png
Labels: Level3, gssoc21
